# Tape Analysis

In [54]:
import pandas as pd
import datetime

In [55]:
df1 = pd.read_excel('input/cvx.xlsx') #import data from excel file
df1.sort_index(ascending=False, inplace = True) # rotate dataFrame
df1.drop(columns=['Bid','Ask','Sizes'],inplace=True) # delete columns
df1.dropna(how='any',inplace=True) # delete Nan Values

In [56]:
df1.index=df1['Date'] # set index as Date column

In [57]:
vol_filter =1000

In [58]:
df1

                 Date      Time     Price   Size
Date
2014-03-11 2014-03-11  15:58:55  114.5900   77.0
2014-03-11 2014-03-11  15:58:55  114.5900   23.0
2014-03-11 2014-03-11  15:58:55  114.5900    1.0
2014-03-11 2014-03-11  15:58:55  114.6000  100.0
2014-03-11 2014-03-11  15:58:55  114.6000  100.0
...               ...       ...       ...    ...
2014-03-12 2014-03-12  13:17:22  115.5300  100.0
2014-03-12 2014-03-12  13:17:22  115.5300  200.0
2014-03-12 2014-03-12  13:17:22  115.5300  100.0
2014-03-12 2014-03-12  13:17:22  115.5300   16.0
2014-03-12 2014-03-12  13:17:22  115.5499    7.0

[33121 rows x 4 columns]

In [59]:
res_list =[]
pr = 0
dt = 0
tm = 0
sz = 0

ls1=[]

for index, row in df1.iterrows():  # itter every row in order to agregate size
    if (row['Price']== pr) & (row['Time']==tm) :
        sz += row['Size']
        
    if (row['Price']!= pr):
        
        ls1=(dt,tm,pr,sz)
        res_list.append(ls1)
        
        dt = row['Date']
        tm = row['Time']
        pr = row['Price']
        sz = row['Size']

In [93]:
res_list[1:]

[(Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.59, 101.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.6, 715.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.59, 52.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.6, 658.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.59, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.6, 1000.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.59, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 55), 114.6, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.61, 40.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.6, 180.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.61, 671.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.605, 18.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.61, 520.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.62, 48.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.61, 312.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.6, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.61, 40.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.62, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 56), 114.61, 194.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 58, 57), 114.62, 134.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.61, 576.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 289.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.59, 511.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.611, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.59, 600.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.58, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.59, 1100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 600.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.59, 8.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.61, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 22.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.61, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 16.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.61, 1062.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.605, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59), 114.6, 120.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 1), 114.61, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 1), 114.6, 414.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 2), 114.61, 800.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 3), 114.6, 2000.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 4), 114.59, 759.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 4), 114.6, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 4), 114.59, 401.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 4), 114.58, 298.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 4), 114.59, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 4), 114.6, 131.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 5), 114.59, 500.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.58, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.6, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.599, 25.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.59, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.58, 19.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.59, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.58, 486.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 6), 114.57, 103.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 7), 114.58, 149.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 7), 114.59, 90.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 7), 114.6, 320.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 7), 114.59, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 9), 114.58, 1100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 9), 114.57, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 9), 114.5701, 174.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 9), 114.57, 500.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 10), 114.575, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 10), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'),
  datetime.time(15, 59, 10),
  114.575,
  1600.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 10), 114.58, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 10), 114.575, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 10), 114.58, 500.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 12), 114.579, 17.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 12), 114.59, 1.0),
 (Timestamp('2014-03-11 00:00:00'),
  datetime.time(15, 59, 12),
  114.5808,
  100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 12), 114.58, 491.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 13), 114.5899, 50.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 13), 114.59, 2430.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 13), 114.58, 308.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 14), 114.59, 112.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 15), 114.58, 700.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 15), 114.59, 40.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 15), 114.58, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 15), 114.59, 102.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 16), 114.58, 802.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 16), 114.575, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 16), 114.57, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 16), 114.58, 201.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 16), 114.57, 899.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 18), 114.58, 60.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 3000.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 380.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 61.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 60.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 500.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 294.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 820.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 140.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.569, 60.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 173.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 139.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.56, 120.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 19), 114.57, 1254.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 21), 114.56, 102.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 21), 114.57, 43.0),
 (Timestamp('2014-03-11 00:00:00'),
  datetime.time(15, 59, 21),
  114.5601,
  150.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 22), 114.57, 199.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 24), 114.58, 291.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 24), 114.57, 236.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 25), 114.58, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 25), 114.579, 50.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 25), 114.57, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 25), 114.56, 19.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 25), 114.57, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 25), 114.56, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 26), 114.58, 121.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 26), 114.57, 185.0),
 (Timestamp('2014-03-11 00:00:00'),
  datetime.time(15, 59, 27),
  114.5701,
  106.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 27), 114.58, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 27), 114.57, 25.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 28), 114.58, 16.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 28), 114.57, 77.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 30), 114.56, 6.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 30), 114.58, 88.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 30), 114.56, 730.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 30), 114.57, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 30), 114.58, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 31), 114.56, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 31), 114.57, 572.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 31), 114.56, 80.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 31), 114.57, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 31), 114.5699, 3.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 32), 114.56, 210.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 33), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.56, 120.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.565, 48.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.565, 352.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.56, 208.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.57, 171.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 34), 114.565, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 35), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 35), 114.565, 139.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 35), 114.57, 1332.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 36), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 36), 114.565, 204.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 36), 114.57, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 36), 114.56, 539.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.565, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.57, 800.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.565, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.57, 102.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.565, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.57, 1281.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.565, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.57, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 37), 114.565, 399.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 38), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 38), 114.57, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 39), 114.565, 99.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 39), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 40), 114.565, 500.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 40), 114.57, 956.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 40), 114.565, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 40), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 41), 114.57, 753.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 41), 114.56, 5.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 43), 114.57, 1400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 43), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 43), 114.57, 5.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 44), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 44), 114.57, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 44), 114.56, 717.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 44), 114.565, 46.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 44), 114.56, 503.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.565, 7.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.57, 2.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.57, 1407.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.57, 39.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 45), 114.56, 149.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 46), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 46), 114.56, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 46), 114.565, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 46), 114.57, 2740.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 46), 114.56, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.56, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.56, 615.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.57, 201.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.56, 870.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.567, 50.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 48), 114.57, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 49), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 49), 114.565, 20.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 49), 114.57, 740.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 49), 114.56, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 49), 114.57, 43.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 49), 114.567, 250.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.57, 1500.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.56, 766.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.565, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.56, 4345.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.565, 246.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.56, 364.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.565, 28.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.56, 1055.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.57, 23.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 50), 114.565, 17.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.56, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.57, 2692.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.565, 9.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.57, 2100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.56, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.57, 246.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.56, 1400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 51), 114.56, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.57, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.56, 3829.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.565, 133.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.56, 48.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.57, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.565, 40.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 52), 114.57, 301.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.56, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.57, 351.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.58, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.58, 2100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.59, 78.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.58, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 53), 114.58, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 54), 114.57, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 54), 114.58, 200.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 54), 114.57, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 54), 114.59, 400.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 54), 114.58, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 55), 114.57, 1.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 55), 114.59, 300.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 55), 114.6, 100.0),
 (Timestamp('2014-03-11 00:00:00'), datetime.time(15, 59, 55), 114.59, 222.0),

In [94]:
# forming result dataSet
df_output = pd.DataFrame(res_list[1:])
df_output.columns= ['Date','Time','Price','Volume']
df_output['Price_1']=0
df_output['Volume_1']=0
df_output['Vol_filter']=0

In [95]:
pr = 0

for index, row in df_output.iterrows():
    if row['Price']> pr:
        
        df_output.at[index,'Price_1']=row['Price']
        df_output.at[index,'Volume_1']=row['Volume']
      
        
    if row['Price']< pr:
        df_output.at[index,'Price_1']=row['Price']*-1
        df_output.at[index,'Volume_1']=row['Volume']*-1
    pr = row['Price']   
    
    if row['Volume_1']>=vol_filter:
        df_output.at[index,'Vol_filter']= row['Volume_1']

In [63]:
df_output.loc['Volume_1'] = df_output.sum(numeric_only=True)

In [97]:
# using itertuples
for index, row in df_output.iterrows():
    if row['Volume_1']>=vol_filter:
        
        df_output.at[index,'Vol_filter']=row['Volume_1']

In [98]:
df_output

            Date      Time    Price  Volume  Price_1  Volume_1  Vol_filter
0     2014-03-11  15:58:55  114.590   101.0  114.590       101           0
1     2014-03-11  15:58:55  114.600   715.0  114.600       715           0
2     2014-03-11  15:58:55  114.590    52.0 -114.590       -52           0
3     2014-03-11  15:58:55  114.600   658.0  114.600       658           0
4     2014-03-11  15:58:55  114.590   200.0 -114.590      -200           0
...          ...       ...      ...     ...      ...       ...         ...
11634 2014-03-12  13:17:12  115.518   100.0 -115.518      -100           0
11635 2014-03-12  13:17:15  115.520   400.0  115.520       400           0
11636 2014-03-12  13:17:15  115.515   100.0 -115.515      -100           0
11637 2014-03-12  13:17:15  115.520   300.0  115.520       300           0
11638 2014-03-12  13:17:22  115.530   416.0  115.530       416           0

[11639 rows x 7 columns]

In [65]:
#df['Time']=pd.to_datetime(df["Time"],format='%H:%M:%S')

In [100]:
with pd.ExcelWriter("output/output.xlsx") as writer:
   
    df_output.to_excel(writer, sheet_name="output")